<!doctype html>
<html lang="en">
	<head>
		<title>MoviesCorner</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link href='https://fonts.googleapis.com/css?family=Salsa' rel='stylesheet'>
  </head>
  <body>
    <footer class="footer">
			<p>Copyright - MoviesCorner Pvt. Ltd.</p>
		</footer>
	</body>
</html>
