<!doctype html>
<html lang="en">
	<head>
		<title>MoviesCorner</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link href='https://fonts.googleapis.com/css?family=Miltonian' rel='stylesheet'>
  </head>
  <body>
    <header class="icon">
			<div class="headlogin">
      <p>Hello User1</p>
		</div>
      <h1><img class="img1" src="./images/2-1.jpg" alt="logo">
          MOVIES CORNER
      </h1>
    </header>
  </body>
</html>
