<!doctype html>
<html lang="en">
	<head>
		<title>MoviesCorner</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link href='https://fonts.googleapis.com/css?family=Salsa' rel='stylesheet'>
  </head>
  <body>
    <aside>
			<p><a href="/">Home</a></p>
			<p><a href="/categories">Categories</a></p>
			<p><a href="#">Store</a></p>
			<p><a href="/about">About</a></p>
			<p><a href="/contact">Contact Us</a></p>
		</aside>

		<div class="spacer">
		</div>
  </body>
</html>
