<!doctype html>
<html lang="en">
	<head>
		<title>MoviesCorner</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
		<link href='https://fonts.googleapis.com/css?family=Salsa' rel='stylesheet'>
  </head>
  <body>
    <nav>
			<ul>
				<li><a href="#">Sign Out</a></li>
				<li><a href="/myItems">My Movies</a></li>
				<li><a href="#">Cart</a></li>
			</ul>
		</nav>
  </body>
</html>
