<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>MoviesCorner</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link href='https://fonts.googleapis.com/css?family=Miltonian' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Salsa' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lemon' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Shojumaru' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Slackey' rel='stylesheet'>
  </head>
  <body>
		<div class="about_header">
    <% include partials/header.ejs %>
	</div>
	<div class="about_unav">
    <% include partials/user_navigation.ejs %>
	</div>
    <main>
      <div class = "about">
        <section>
          <h1>About US!!!</h1>
        </section>
        <section>
        <!--  <h3>Looking for some exciting movies to watch in your sparetime?</h3> -->
          <article>
            <!--	<header>
              <h3>Here will be the text 1</h3>
            </header> -->
            <p></p>
            <p>MoviesCorner is a startup which tries to provide movies on rent for movie lovers. Searching for movies to rent? MoviesCorner to the rescue! It was founded in 2019. So sit back and let us help you with the movies!</p>
          </article>
          <br>
          <!--	<article>
            <header>
              <h3>Here will be the text 2</h3>
            </header>
            <p>Write extra text here</p>
            <p>And here too</p>
          </article>    -->
        </section>
      </div>
    </main>
<div class="about_snav">
    <% include partials/site_navigation.ejs %>
	</div>
	<div class="about_footer">
    <% include partials/footer.ejs %>
	</div>
  </body>
</html>
