<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>MoviesCorner</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link href='https://fonts.googleapis.com/css?family=Miltonian' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Salsa' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lemon' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Shojumaru' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Slackey' rel='stylesheet'>
  </head>
  <body>
		<div class="con_header">
    <% include partials/header.ejs %>
	</div>
	<div class="con_unav">
    <% include partials/user_navigation.ejs %>
	</div>
    <main>
      <div class = "contact">
        <section>
          <h1>Contact US!!!</h1>
        </section>
        <section>
        <h3>Our Contact details are as follows-</h3>
          <article>
            <!--	<header>
              <h3>Here will be the text 1</h3>
            </header> -->
            <p></p>
            <p>Contact Number: +1 704 980 1432</p>
            <p>Email ID: contactus@moviescorner.com</p>
          </article>
          <br>
          <!--	<article>
            <header>
              <h3>Here will be the text 2</h3>
            </header>
            <p>Write extra text here</p>
            <p>And here too</p>
          </article>    -->
        </section>
      </div>
    </main>
<div class="con_snav">
    <% include partials/site_navigation.ejs %>
	</div>
	<div class="con_footer">
    <% include partials/footer.ejs %>
	</div>
  </body>
</html>
