<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>MoviesCorner</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link href='https://fonts.googleapis.com/css?family=Miltonian' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Salsa' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lemon' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Shojumaru' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Slackey' rel='stylesheet'>
  </head>
  <body>
		<div class="index_header">
    <% include partials/header.ejs %>
	</div>
	<div class="index_unav">
    <% include partials/user_navigation.ejs %>
	</div>
    <main>
      <div class = "content">
        <section>
          <h1>Welcome to Movies Corner !!!</h1>
        </section>
        <section>
          <h3>Looking for some exciting movies to watch in your sparetime?</h3>
          <article>
            <!--	<header>
              <h3>Here will be the text 1</h3>
            </header> -->
            <p></p>
            <p>Movies Corner can help you! Browse through our website to search for your favourite movie, and you can rent it or save it to watch later! Read through the description if you want to know what the movie is about. Exciting right? So, LET'S GET STARTED!!!</p>
          </article>
          <br>
          <!--	<article>
            <header>
              <h3>Here will be the text 2</h3>
            </header>
            <p>Write extra text here</p>
            <p>And here too</p>
          </article>    -->
        </section>
        <p>What's new -> You can now add your own description for any movie! Try now</p>
      </div>
    </main>
		<div class="index_snav">
		<% include partials/site_navigation.ejs %>
	</div>
	<div class="index_footer">
	<% include partials/footer.ejs %>
</div>
  </body>
</html>
